<!DOCTYPE html>
<html lang="en">
<head>
    <center><h1 id="title_text">Distance Task</h1></center>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=en_US&amp;apikey={{api_key}}" type="text/javascript"></script>
	<script src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://yandex.st/jquery/2.2.3/jquery.js"></script>
    <style>
        body, html {
            font-family: Arial;
            font-size: 11pt;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 95%;
        }
        p {
            padding: 10px;
        }
        #map {
            width: 100%;
            height: 90%;
        }
    </style>
</head>
<body>
<!----- Distance Information ----->
    <div id="distance_info">
        <h2>Specified Address: {{address_txt}}</h2>
        <h2>Coordinates: [{{address_lat}}, {{address_lng}}]</h2>
        <h2 id="distance">Distance: </h2>
        <h2 id="time">Time: </h2>
        <h2 id="warning"></h2>
    </div>
    <div id="map"></div>
    {% block js %}{% endblock %}
</body>
</html>
