<!DOCTYPE html>
<html lang="en">
<head>
    <center><h1 id="title_text">Distance Task</h1></center>
    <a href="https://github.com/NoriakiMawatari/Blockchain" target="_blank"><img src="static/assets/github.png" class="github_logo"></a>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body, html {
            font-family: Arial;
            font-size: 11pt;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 95%;
        }
    </style>
</head>
<body>
    <div>
        <center>
        <form method="post">
            <label for="address">Addres:</label>
            <input name="address" id="address" placeholder="Go To" required>
            <input type="submit" value="Display distance">
          </form>
        </center>
    </div>
</body>
</html>
