{% extends "distance.html" %}

{% block js %}
<script type="text/javascript" charset="utf-8">
    function init() {
        // Map instance
        var myMap = new ymaps.Map("map", {
                center: [55.73, 37.75],
                zoom: 9
            }, {
                searchControlProvider: 'yandex#search'
            }),
            moscowPolygon,
            mkadPolygon;

        // Points of reference that define limits.
        $.ajax({
            url: '../static/polygons.json',
            dataType: 'json',
            success: onPolygonLoad
        });

        function onPolygonLoad (json) {
            // Set false to hide polygons.
            // In order to make geometric operations, polygon need to be added to map.
            moscowPolygon = new ymaps.Polygon(json.figure1.geometry.coordinates);
            moscowPolygon.options.set('visible', false);
            myMap.geoObjects.add(moscowPolygon);
            mkadPolygon = new ymaps.Polygon(json.figure2.geometry.coordinates);
            mkadPolygon.options.set("visible", false);
            myMap.geoObjects.add(mkadPolygon);

            // Route from addres to MKAD fixed coords.
            ymaps.route(["MKAD", ['{{address_lat}}', '{{address_lng}}']]).then(
                function (res) {
                    // Combine all route elements into one sample.
                    var pathsObjects = ymaps.geoQuery(res.getPaths()),
                        edges = [];

                    pathsObjects.each(function (path) {
                        var coords = path.geometry.getCoordinates();
                    })

                    // Iterate over all the elements and divide them in segments of coordinates.
                    pathsObjects.each(function (path) {
                        var coordinates = path.geometry.getCoordinates();
                        for (var i = 1, l = coordinates.length; i < l; i++) {
                            edges.push({
                                type: 'LineString',
                                coordinates: [coordinates[i], coordinates[i - 1]]
                            });
                        }
                    });
                    // Create new sample containing:
                    // - Segments that describes route
                    // - Initial and ending points.
                    // - Waypoints
                    var routeObjects = ymaps.geoQuery(edges)
                            .add(res.getWayPoints())
                            .add(res.getViaPoints())
                            .setOptions('strokeWidth', 3)
                            .addToMap(myMap),

                        // Find every object placed inside the polygon area.
                        objectsInMoscow = routeObjects.searchInside(moscowPolygon),
                        // Search for objects that instersects bounds.
                        boundaryObjects = routeObjects.searchIntersect(moscowPolygon);
                    // Objects that are contained only in the Moscow Ring Road.
                    objectsInMKAD = routeObjects.searchIntersect(mkadPolygon).remove(objectsInMoscow).remove(boundaryObjects);
                    // Objects outisde the MKAD are defined excluding samples from original samples.
                    objectsOutMoscow = routeObjects.remove(objectsInMoscow).remove(boundaryObjects).remove(objectsInMKAD);

                    // Define colors to identify every kind of object.
                    boundaryObjects.setOptions({
                        strokeColor: '#06ff00',
                        preset: 'islands#greenIcon'
                    });

                    objectsInMoscow.setOptions({
                        strokeColor: '#ff0005',
                        preset: 'islands#redIcon'
                    });

                    objectsOutMoscow.setOptions({
                        strokeColor: '#0010ff',
                        preset: 'islands#blueIcon'
                    });

                    objectsInMKAD.setOptions({
                        strokeColor: '#EA24E4',
                        preset: 'islands#yellowIcon'
                    });

                    // console.log("Objects Inside Moscow length:" + objectsInMoscow.getLength());
                    // console.log("Objects Outside Moscow length:" + objectsOutMoscow.getLength());
                    // console.log("Objects Inside MKAD length:" + objectsInMKAD.getLength());

                    // Point object at the specified addres given.
                    address_point = ymaps.geoQuery([
                        {
                            type: 'Point',
                            coordinates: ['{{address_lat}}', '{{address_lng}}']
                        }
                    ]),
                    route_points = [];

                    // Define if the address point is placed inside or outside MKAD.
                    var point_inside = address_point.searchInside(moscowPolygon);
                    var point_inside_MKAD = address_point.searchInside(mkadPolygon);

                    // Depending on where the address is located, route coordinates of interest
                    // are stored in rounte_points array.
                    if (point_inside.getLength() == 1){
                        console.log("Target is Inside");
                        objectsInMoscow.each( function (line){
                            route_points.push(
                                line.geometry.getCoordinates()
                            );
                        });
                    } else if (point_inside.getLength() == 0 && point_inside_MKAD.getLength() == 0) {
                        console.log("Target is Outside");
                        objectsOutMoscow.each( function (line){
                            route_points.push(
                                line.geometry.getCoordinates()
                            );
                        });
                    } else{
                        console.log("Target inside MKAD! INVALID!");
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                distance: 'None',
                                time: 'None'
                            }),
                            dataType: 'json',
                            url: 'http://localhost:5000/distance/{{address_txt}}/results',
                            success: function(e) {
                                console.log(e);
                                window.location = "http://localhost:5000/"
                            },
                            error: function(error){
                                console.log(error);
                            }
                        });
                    }

                    console.log("Coords where intersects MKAD: " + JSON.stringify(route_points[0][0]));

                    var multiRoute = new ymaps.multiRouter.MultiRoute({
                        // Generates another route object with the route_points of interest.
                        referencePoints: [
                            [parseFloat(JSON.stringify(route_points[0][0][0])),parseFloat(JSON.stringify(route_points[0][0][1]))],
                            ['{{address_lat}}', '{{address_lng}}']

                        ],
                        // Routing parameters
                        params: {
                            // Max number of output routes.
                            results: 1
                        }
                    }, {
                        // Automatically sets boundaries of map in order to visualize final route.
                        boundsAutoApply: true
                    });

                    // Add multiroute object to map.
                    myMap.geoObjects.add(multiRoute);

                    // Update route data.
                    multiRoute.model.events.add('requestsuccess', function() {
                        // Obtain reference of the active route.
                        // In this case, driving route is used, then
                        // method getActiveRoute() returns multiRouter.driving.Route.
                        var activeRoute = multiRoute.getActiveRoute();
                        // Visualization of route information.
                        var distance = document.createTextNode(activeRoute.properties.get("distance").text);
                        var travel_time = document.createTextNode(activeRoute.properties.get("duration").text);

                        document.getElementById("distance").appendChild(distance);
                        document.getElementById("time").appendChild(travel_time);

                        console.log("Distance (miles): " + activeRoute.properties.get("distance").text);
                        console.log("Travel time: " + activeRoute.properties.get("duration").text);
                        // It's possible to find information about blocked segments on the road.
                        if (activeRoute.properties.get("blocked")) {
                            console.log("Some route sections are closed.");
                            var blocked = document.createTextNode("WARNING: Some route sections could be closed.");
                            document.getElementById("warning").appendChild(blocked);
                        }
                        // Send json data to Flask
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                distance: activeRoute.properties.get("distance").text,
                                time: activeRoute.properties.get("duration").text
                            }),
                            dataType: 'json',
                            url: 'http://localhost:5000/distance/{{address_txt}}/results',
                            success: function(e) {
                                console.log(e);
                            },
                            error: function(error){
                                console.log(error);
                            }
                        });
                    });
                    routeObjects.removeFromMap(myMap);
                }
            );
        }
    }
    ymaps.ready(init);
</script>
{% endblock %}
